---
layout: default
permalink: /index/
---
<div class="row" id="hero">
  <div class="column__left">
    <div class="block__container" id="ani-1">
      <h1 class="brand block__content">Anaanu Webstudio</h1>
      <div class="block__reveal"></div>
    </div>
    <ul class="block__container muted" id="ani-7">
      <li class="block__content"><h4>Services</h4></li>
      <li class="block__content">Web Design</li>
      <li class="block__content">Frontend Developement</li>
      <li class="block__content">CMS Integration</li>
      <li class="block__content">Backend Development</li>
      <li class="block__content">Brand Identity</li>
      <li class="block__content">S. E. O</li>
      <li class="block__content">Website Maintenance &amp; Management</li>
      <div class="block__reveal"></div>
    </ul>
  </div>
  <div class="column__right">
    <div class="block__container" id="ani-2">
      <h1 class="block__content">A creative studio that helps people build effective websites.</h1>
      <div class="block__reveal"></div>
    </div>
    <div class="block__container" id="ani-3">
      <h1 class="muted block__content">We plan, design and build websites for brands.</h1>
      <div class="block__reveal"></div>
    </div>
    <div class="block__container" id="ani-4">
      <p class="block__content">Talk to us about your project, a potential partnership or collaboration.</p>
      <div class="block__reveal"></div>
    </div>
    <div class="block__container" id="ani-5">
      <a href="" class="block__content hero-btn">Get in touch</a>
      <div class="block__reveal"></div>
    </div>
  </div>
</div>

<div class="row" id="projects-filter">
  <div class="block__container" id="ani-6">
    <h2 class="brand block__content">Selected Projects</h2>
    <ul class="filter-button-group block__content">
      <li>Filter case studies by:</li>
      <li><a class="button active" data-filter="*">All</a></li>
      {% assign categories = site.portfolio | group_by: "category" %}
      {% for category in categories %}
        <li><a class="button" data-filter=".{{ category.name | slugify: 'pretty' }}">{{ category.name }}</a></li>
      {%endfor%}
    </ul>
    <div class="block__reveal"></div>
  </div>
</div>

<div class="grid-wrapper" id="projects">
  <ul class="grid" id="grid">
    <li><div class="grid-sizer"></div></li>
    {% if site.portfolio.size == 0 %}
    <li>
      <h2>No portfolio items found</h2>
    </li>
    {% else %}
    {% for post in site.portfolio %}
      <li>
        <div class="grid-item {{ post.category | slugify: 'pretty' }}">
          <a href="{{ post.url | prepend: site.baseurl }}" class="block__container">
            <div class="image-caption">
              <p>{{ post.service }}</p>
              <h2>{{ post.shortname }}</h2>
            </div>
            <img class="lazy hide-on-mobile" src="{{ site.baseurl }}/{{ post.cover }}" data-src="{{ site.baseurl }}/{{ post.cover}}" alt="portfolio image">
            <img class="lazy hide-on-desktop" src="{{ site.baseurl }}/{{ post.thumbnail }}" data-src="{{ site.baseurl }}/{{ post.thumbnail}}" alt="portfolio image">
          </a>
        </div>
      </li>
    {% endfor %}
    {% endif %}
  </ul>
</div>

<div class="laucher-wrapper">
  <div class="block__container">
    Let's create great products together.
    <h3><a href="">Start a project</a></h3>
  </div>
</div>

<div class="row">
  <h2>Featured posts</h2>
  {% assign featured_posts = (site.posts | where:"featured","true") %}
  {% if featured_posts.size == 0 %}
    <h3>No featured post</h3>
  {% else %}
  {% for post in featured_posts %}
  <div class="column__left"><h3><time>{{ post.date | date_to_string }}</time></h3></div>
  <div class="column__right">
    <span>
      {% if post.link %}
      <a href="{{ post.link }}">
      {% else %}
      <a href="{{ post.url | prepend: site.baseurl }}">
      {% endif %}
      <h4>{{ post.title }}</h4>
      </a>
    </span>
    <p>{{ post.excerpt | strip_html | truncatewords: 13 }}</p>
  </div>
  {% endfor %}
  {% endif %}
</div>
