<footer class="footer">
  <div class="footer-wrapper">
    <h3>Your website has the potential to be the omnipresent asset that brings
    in new business. Ready to let it work for you? <br />
    <a href="" class="section__link">Started a project</a></h3>
    <div class="footer__bottom">
      <div class="horizontal-list">
        <span class="horizontal-list__header">Support us, Anaanu Webstudio on</span>
        <ul>
          <li><a href="#">facebook</a></li>
          <li><a href="#">linkedin</a></li>
          <li><a href="#">instagram</a></li>
        </ul>
      </div>
      <div class="footer-logo">
        <a href="{{ site.url }}{{ site.baseurl }}">
          <img src="{{ site.url }}/images/logo__b&w.svg" alt="footer logo">
        </a>
      </div>
    </div>
  </div>
</footer>

<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<!-- lazy load -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.lazy/1.7.4/jquery.lazy.min.js"></script>
<!-- Custom -->
<script type="text/javascript" src="{{ site.url }}/assets/js/main.js"></script>
