<footer class="footer" id="footer">
  <div class="footer-wrapper">
    <h3>Work with us</h3>
    <p>A creative company providing high quality front-end development services. We collaborate with designers and other creatives; let's build something special together.</p>
    <ul>
      <li>Contact Information</li>
      <li><a href="">info@anaanu.site</a></li>
      <li>0233 577 553 203</li>
    </ul>

    <div class="footer__bottom">
      <ul class="block__social-links">
        <li class="list__title">Support us, Anaanu Webstudio on</li>
        <li><a href="https://www.facebook.com/anaanuwebstudio/">facebook</a></li>
        <li><a href="https://www.linkedin.com/company/anaanu-webstudio">linkedin</a></li>
        <li><a href="https://www.instagram.com/anaanuwebstudio/">instagram</a></li>
        <li><a href="https://twitter.com/anaanuwebstudio">twitter</a></li>
      </ul>
      <div class="footer-logo">
        <a href="{{ site.url }}{{ site.baseurl }}">
          <img src="{{ site.url }}/images/logo__b&w.svg" alt="footer logo">
        </a>
      </div>
    </div>
  </div>
</footer>

<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<!-- Lazy load -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.lazy/1.7.4/jquery.lazy.min.js"></script>
<!-- Isotope -->
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<!-- Anime -->
<script type="text/javascript" src="{{ site.url }}/assets/js/anime.min.js"></script>
<!-- ScrollMonitor -->
<script type="text/javascript" src="{{ site.url }}/assets/js/scrollMonitor.js"></script>
<!-- Custom -->
<script type="text/javascript" src="{{ site.url }}/assets/js/main.js"></script>
