<footer class="footer">
  <div class="footer__wrapper">
    <h3>Your website has the potential to be the omnipresent asset that brings
    in new business. Ready to let it work for you? <br />
    <a href="" class="section__link">Get started with your new project</a></h3>
    <div class="footer__bottom">
      <div class="social-links">
        <span class="social-links__header">Support us, Anaanu Webstudio on</span>
        <ul>
          <li><a href="#">facebook</a></li>
          <li><a href="#">linkedin</a></li>
          <li><a href="#">instagram</a></li>
        </ul>
      </div>
      <div class="footer-logo">
        <a href="{{ site.url }}{{ site.baseurl }}">
          <img src="{{ site.url }}/images/logo__b&w.png" alt="footer brand logo">
        </a>
      </div>
    </div>
  </div>
</footer>
