<header class="header">
  <div class="header__wrapper">
    <div class="header-title">
      <a href="{{ site.url }}{{ site.baseurl }}">
        <img src="{{ site.url }}/images/logo__color.png" alt="header brand logo">
      </a>
    </div>
    <nav class="header-nav">
      {% for nav in site.nav %}
        {% if nav.url contains 'http://' or nav.url contains 'https://' %}
          <a href="{{ nav.url }}">{{ nav.name }}</a>
        {% else %}
          <a href="{{ nav.url | prepend: site.baseurl }}"
          {% if page.url == nav.url %}class='active'{% endif %}>
            {{ nav.name }}
          </a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</header>
