<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %} | {{ site.tagline }}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" type="text/css">

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:700|Roboto:400,500,600,700" rel="stylesheet">

  <!-- fontawesome -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
  {% seo %}


  {% include google-analytics.html %}

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/favicon.png">


</head>
