<header class="header">
  <div class="page__highlight"></div>
  <div class="header-wrapper">
    <div class="header-logo">
      <a href="{{ site.baseurl }}/index/">
        <img src="{{ site.url }}/images/logo__color.svg" alt="header logo">
      </a>
    </div>
    <nav class="header-nav">
      {% for nav in site.nav %}
        {% if nav.url contains 'http://' or nav.url contains 'https://' %}
          <a href="{{ nav.url }}">{{ nav.name }}</a>
        {% else %}
          <a href="{{ nav.url | prepend: site.baseurl }}"
          {% if page.url contains nav.url %}class='active'{% endif %}>
            {{ nav.name }}
          </a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</header>
