<header class="header">
  <div class="page__highlight"></div>
  <div class="header-wrapper">
    <div class="header-logo">
      <a href="{{ site.baseurl }}/">
        <img src="{{ site.url }}/images/logo__color.svg" alt="header logo">
      </a>
    </div>
    <nav class="header-nav">
      {% for nav in site.nav %}
        {% assign current = page.url | split: '/' %}
        {% assign node = nav.url | remove: '/' %}
        <a href="{{ nav.url | prepend: site.baseurl }}"
        {% if page.url == nav.url %}class='active'{% endif %}
        {% if current[1] == node %}class='active'{% endif %}>
          {{ nav.name }}
        </a>
      {% endfor %}
    </nav>
    <div class="header-about">
      <h1>Welcome to Anaanu Webstudio.</h1>
      <p>
        Founded in 2016 to help creatives run their businesses online.
        We are a creative studio - lead by independent Creative Director
        Adjetey Sowah - passionate about designing and developing awesome digital
        products.
      </p>
      <p class="hr-links">Connect via <a href="mailto:{{ site.author.email }}?subject=Let's work together">Email</a> &mdash; <a href="https://www.facebook.com/{{ site.author.facebook }}">Facebook</a> &mdash; <a href="https://www.linkedin.com/company/{{ site.author.linkedin }}">Linkedin</a> &mdash; <a href="https://www.instagram.com/{{ site.author.instagram }}">Instagram</a> &mdash; <a href="https://twitter.com/{{ site.author.twitter }}">Twitter</a>.</p>
    </div>
  </div>
</header>
