@include reset;

// variables
$color__light-green: #39bcaa;
$color__dark-green: #008791;
$color__light-grey: #f7f7f7;
$color__dark-grey: #787a7f;
$color__black: #141414;
$width__max: 1024px;

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: $color__black;
}

.page__highlight {
  height: 10px;
  background-color: $color__dark-green;
}

.header {
  background-color: $color__light-grey;
  @include prefixer(box-shadow, 0 -0.17em 0.75em 0 rgba(0,0,0,0.08) inset);

  .header-wrapper {
    max-width: $width__max;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;

    @include breakpoint($mobile) {
      overflow: hidden;
    }
  }
  .header-logo {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include breakpoint($mobile) {
      padding-top: 1rem;
    }
  }
  .header-logo,
  .header-nav {
    display: inline-block;
  }
  .header-nav {
    padding-top: 2rem;
    float: right;

    @include breakpoint($mobile) {
      margin-right: -3rem;
    }

    a {
      color: $color__black;
      margin-right: 30px;
      font-weight: 500;

      &:hover:after {
        transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
        transform: scale3d(1, 1, 1);
      }
      &:after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0px;
        right: 0px;
        height: 2px;
        background-color: $color__light-green;
        transform-origin: 0% 50%;
        transform: scale3d(0, 1, 1);
        transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      &:focus,
      &:hover {
        color: $color__light-green !important;

      }
      @include breakpoint($mobile) {
        display: block;
        height: 2rem;
        padding: 5px 0;
        width: 100px;
      }
    }
    a.active {
      color: $color__dark-green;
      border-bottom: 2px solid $color__dark-green;

      @include breakpoint($mobile) {
        border-bottom: none;
        border-right: 5px solid #008791;
      }
    }
    a:last-child { margin-right: 0;}
  }
}

.footer {
  background-color: $color__light-grey;
  padding-bottom: 2rem;
  padding-top: 2rem;
  @include prefixer(box-shadow, 0 2px 5px 0 rgba(0,0,0,.26) inset);

  h3 {
    color: $color__dark-grey;

    .section__link {
      color: $color__black;
      border-bottom: 2px solid;

      &:hover,
      &:focus {
        color: $color__light-green !important;
      }
      &:hover:after {
        transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
        transform: scale3d(1, 1, 1);
      }
      &:after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0px;
        right: 0px;
        height: 2px;
        background-color: $color__light-green;
        transform-origin: 0% 50%;
        transform: scale3d(0, 1, 1);
        transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }
  .footer-wrapper {
    max-width: $width__max;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  .footer-logo {
    display: inline-block;
    float: right;
    margin-top: -1rem;

    @include breakpoint($mobile) {
      display: block;
      margin-top: -3em;
    }
  }
  .horizontal-list {
    font-weight: 500;

    .horizontal-list__header {
      color: $color__dark-grey;
    }
    a {
      color: $color__black;
      border-bottom: 2px solid $color__black;
      text-transform: uppercase;

      &:hover,
      &:focus {
        color: $color__light-green !important;
      }
      &:hover:after {
        transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
        transform: scale3d(1, 1, 1);
      }
      &:after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0px;
        right: 0px;
        height: 2px;
        background-color: $color__light-green;
        transform-origin: 0% 50%;
        transform: scale3d(0, 1, 1);
        transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 3rem;
}
h1 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 3rem;
}
.horizontal-list__header {
  font-weight: 500;
}
.horizontal-list {
  display: inline-block;

  @include breakpoint($mobile) {
    display: block;
  }

  li {
    display: inline-block;
    margin-right: 2rem;

    @include breakpoint($mobile) {
      display: block;
      margin-right: 0;
      margin-top: 1rem;
    }
  }
}

.content-container {
  max-width: $width__max;
  margin: auto;
  padding-top: 4rem;
  padding-right: 20px;
  padding-left: 20px;
  min-height: 500px;

  @include breakpoint($mobile) {
    background-color: $color__light-grey;
  }
}

.hero {
  margin-bottom: 2rem;

  .hero__body{
    h1 {
      color: $color__dark-grey;

      &:hover .focus,
      &:focus .focus{
        color: $color__light-green !important;
      }
      &:hover .focus:after {
        transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      .focus {
        color: $color__black;
      }
    }
  }
  .hero__action {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 1rem;

    a {
      color: $color__black;
      position: relative;
      transition: all .3s ease 0s;
      border-bottom: 3px solid;

      &:hover {
        color: $color__light-green;
      }
      &:hover:after {
        transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
        transform: scale3d(1, 1, 1);
      }
      &:after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0px;
        right: 0px;
        height: 3px;
        background-color: $color__light-green;
        transform-origin: 0% 50%;
        transform: scale3d(0, 1, 1);
        transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }
}

.section__filter {
  margin-bottom: 2rem;

  .horizontal-list__header{
    margin-right: 3rem;
  }
  .horizontal-list a {
    color: $color__dark-grey;

    &:hover,
    &:focus {
      color: $color__light-green !important;
    }
    &:hover:after {
      transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
      transform: scale3d(1, 1, 1);
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0px;
      right: 0px;
      height: 2px;
      background-color: $color__light-green;
      transform-origin: 0% 50%;
      transform: scale3d(0, 1, 1);
      transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
  .horizontal-list a.active {
    color: $color__black;
    border-bottom: 2px solid $color__black;
  }
}

.row {
  @include container;
  padding-right: 0;
  padding-left: 0;

  @include breakpoint($tablet){
    padding: 40px 0;
  }
  @include breakpoint($mobile){
    padding: 40px 0;
  }
  .column__left {
   @include breakpoint($desktop){
     @include col(4);
   }
   @include breakpoint($tablet){
     @include span(4, true);
     padding-right: 0;
     padding-left: 0;
   }
   @include breakpoint($mobile){
     @include span(12);
     padding-right: 0;
     padding-left: 0;
   }
  }
  .column__right {
   @include breakpoint($desktop){
     @include col(8);
   }
   @include breakpoint($tablet){
     @include span(8, true);
     padding-right: 0;
     padding-left: 0;
   }
   @include breakpoint($mobile){
     @include span(12);
     padding-right: 0;
     padding-left: 0;
   }
  }
}

.section__invite {
  padding-top: 2rem;
  padding-bottom: 5rem;

  a {
    color: $color__black;
    border-bottom: 1px solid;
    &:hover,
    &:focus {
      color: $color__light-green !important;
    }
    &:hover:after {
      transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
      transform: scale3d(1, 1, 1);
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0px;
      right: 0px;
      height: 1px;
      background-color: $color__light-green;
      transform-origin: 0% 50%;
      transform: scale3d(0, 1, 1);
      transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }

  .column__right ul {
    padding-top: 5rem;
    font-weight: 600;

    li:first-child {
      color: $color__dark-grey;
    }
  }
}

.page {
  padding-bottom: 5rem;
}

a {
  color: $color__black;
  position: relative;
  transition: all .3s ease 0s;
}

.grid-wrapper {
  clear: both;
  margin: 0 auto;
  padding: 0;
  max-width: $width__max;

  .grid {
    margin: 30px auto;
    padding: 0;
    min-height: 500px;

    .grid-item {
      display: block;

      .grid-item__info {
        position: absolute;
        justify-content: center;
        z-index: 2;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        color: #fff;
        opacity: 0;

        span {
          padding-top: 3rem;
          position: inherit;
        }
      }

      &:hover .grid-item__info {
        opacity: 1;
      }

      &:hover:before {
        content: '';
        background-color: $color__light-green;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0.8;
      }
    }

    img {
      height: 100%;
      width: 100%;
    }
  }
}
img.lazy {
    display: block;
}

