@include reset;

// variables
$color__light-green: #39bcaa;
$color__dark-green: #008791;
$color__light-grey: #f7f7f7;
$color__dark-grey: #787a7f;
$color__black: #141414;
$width__max: 1024px;

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: $color__black;
}

.page__highlight {
  height: 10px;
  background-color: $color__dark-green;
}

.header {
  background-color: $color__light-grey;
  box-shadow: 0 -0.17em 0.75em 0 rgba(0,0,0,0.08) inset;

  .header-wrapper {
    max-width: $width__max;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  .header-logo {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .header-logo,
  .header-nav {
    display: inline-block;
  }
  .header-nav {
    padding-top: 2rem;
    float: right;
    a {
      color: $color__black;
      margin-right: 2rem;
      font-weight: 500;

      &:focus,
      &:hover {
        color: $color__light-green;
        border-bottom: 2px solid $color__light-green;
      }
    }
    a.active {
      color: $color__dark-green;
      border-bottom: 2px solid $color__dark-green;
    }
    a:last-child { margin-right: 0;}
  }
}

.footer {
  background-color: $color__light-grey;
  padding-bottom: 2rem;
  padding-top: 2rem;
  box-shadow: 0 0.17em 0.75em 0 rgba(0,0,0,0.08) inset;

  h3 {
    color: $color__dark-grey;

    .section__link {
      color: $color__black;
      text-decoration: underline;
    }
  }
  .footer-wrapper {
    max-width: $width__max;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  .footer-logo {
    display: inline-block;
    float: right;
    margin-top: -1rem;
  }
  .horizontal-list {
    font-weight: 500;

    .horizontal-list__header {
      color: $color__dark-grey;
    }
    a {
      color: $color__black;
      border-bottom: 2px solid $color__black;
      text-transform: uppercase;
    }
  }
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 3rem;
}
h1 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 3rem;
}
.horizontal-list__header {
  font-weight: 500;
}
.horizontal-list {
  display: inline-block;
  li {
    display: inline-block;
    margin-right: 2rem;
  }
}

.content-container {
  max-width: $width__max;
  margin: auto;
  padding-top: 4rem;
  padding-right: 20px;
  padding-left: 20px;
}

.hero {
  margin-bottom: 2rem;

  h1 {
    color: $color__dark-grey;

    .focus {
      color: $color__black;
    }
  }
  .hero__action {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 1rem;
    text-decoration: underline;
    a {
      color: $color__black;
    }
  }
}

.section__filter {
  margin-bottom: 2rem;

  .horizontal-list__header{
    margin-right: 3rem;
  }
  .horizontal-list a {
    color: $color__dark-grey;
  }
  .horizontal-list a.active {
    color: $color__black;
    border-bottom: 2px solid $color__black;
  }
}

.row {
  @include container;
  padding-right: 0;
  padding-left: 0;

  @include breakpoint($tablet){
      padding: 40px 20px;
  }
  @include breakpoint($mobile){
      padding: 40px 20px;
  }
  .column__left {
   @include breakpoint($desktop){
     @include col(4);
   }
   @include breakpoint($tablet){
     @include span(4, true);
   }
   @include breakpoint($mobile){
     @include span(12);
   }
  }
  .column__right {
   @include breakpoint($desktop){
     @include col(8);
   }
   @include breakpoint($tablet){
     @include span(8, true);
   }
   @include breakpoint($mobile){
     @include span(12);
   }
  }
}

.section__invite {
  padding-top: 2rem;
  padding-bottom: 5rem;

  a {
    color: $color__black;
    text-decoration: underline;
  }

  .column__right ul {
    padding-top: 5rem;
    font-weight: 600;

    li:first-child {
      color: $color__dark-grey;
    }
  }
}
