// variables
$color__light-green: #39bcaa;
$color__dark-green: #008791;
$color__light-grey: #f7f7f7;
$color__dark-grey: #787a7f;
$color__black: #3e3e3e;
$width__max: 47rem;

// general
.hide-on-mobile {
  @include breakpoint($mobile){
    display: none !important;
  }
}
.hide-on-desktop {
  @include breakpoint($desktop){
    display: none !important;
  }
  @include breakpoint($tablet){
    display: none !important;
  }
}
hr {
  border: 1px solid $color__dark-green;
}
html,
body,
input,
button,
textarea {
  -webkit-font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: $color__black;
  // font-smoothing:
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  letter-spacing: -1px;
  line-height: 1.1;
}

//--  links
a {
  //effect
  color: $color__dark-green;
  position: relative;
}
//-- lists
ul {
  list-style-type: none;
  padding-left: 0;

  li.list__title {
    color: $color__dark-grey;
  }
}
// -- rows
.row {
  @include container;
  padding-right: 0;
  padding-left: 0;

  @include breakpoint($tablet){
    padding: 40px 0;
  }
  @include breakpoint($mobile){
    padding: 40px 0;
  }
  .column__left {
   @include breakpoint($desktop){
     @include col(5);
   }
   @include breakpoint($tablet){
     @include span(5, true);
   }
   @include breakpoint($mobile){
     @include span(12);
   }
   padding-right: 0 !important;
   padding-left: 0 !important;
  }
  .column__right {
   @include breakpoint($desktop){
     @include col(7);
   }
   @include breakpoint($tablet){
     @include span(7, true);
   }
   @include breakpoint($mobile){
     @include span(12);
   }
   padding-right: 0 !important;
   padding-left: 0 !important;
  }
}
// -- buttons
.filter-button-group {
  display: block;
  padding-left: 3em;

  .button:not(.active){
    color: $color__dark-grey;
  }
  .button {
    cursor: pointer;
  }
  .button.active{
    color: $color__dark-green;
  }
}
// -- mute text
.muted {
  // font-size: 1.5em;
  color: $color__dark-grey;
}

// lazy load
img.lazy {
  display: block;
  width: 100%;
  height: 100%;
}

// top section
.page__highlight {
  height: 10px;
  background-color: $color__dark-green;
}

.header {
  background-color: $color__light-grey;
  @include prefixer(box-shadow, 0 -0.17em 0.75em 0 rgba(0,0,0,0.08) inset);

  .header-wrapper {
    max-width: $width__max;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;

    @include breakpoint($mobile) {
      overflow: hidden;
    }
  }
  .header-logo {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include breakpoint($mobile) {
      padding-top: 1rem;
    }
  }
  .header-logo,
  .header-nav {
    display: inline-block;
  }
  .header-nav {
    padding-top: 2rem;
    float: right;

    @include breakpoint($mobile) {
      margin-right: -3rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    // nav link styles
    a {
      color: $color__black;
      margin-right: 30px;
      font-weight: 500;
      text-decoration: none;

      @include breakpoint($mobile) {
        display: block;
        padding: 5px 0;
        width: 100px;
      }
    }
    a.active {
      color: $color__dark-green;

      @include breakpoint($mobile) {
        border-bottom: none;
        border-right: 5px solid #008791;
      }
    }
    a:last-child { margin-right: 0;}
  }
}

// middle section
.content-container {
  max-width: $width__max;
  margin: auto;
  padding: 2rem 20px;
  min-height: 500px;

  @include breakpoint($mobile) {
    background-color: $color__light-grey;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.grid-wrapper {
  clear: both;
  margin: 0 auto;
  padding: 0;
  max-width: $width__max;

  .grid {
    margin: 30px auto;
    padding: 0;
    min-height: 350px;

    .grid-item {
      display: block;
      overflow: hidden;

      .block__container {
        display: inline-block;
        position: relative;
      }

      img {
        // opacity: 1;

      }

      .image-caption {
        opacity: 0;
        transform: translate3d(-1rem,0,0);
        transition: opacity 0.35s, transform 0.35s;
        position: relative;
        z-index: 1;
        p,
        h2 {
          position: absolute;
          padding: 2em 1.2rem;
          text-decoration: none;
          color: #fff;
        }

      }
      a:hover img {
        filter: blur(2px);
        z-index: -1;
      }
      a:hover .image-caption {
        opacity: 1;
        transform: translate3d(0,0,0);
      }
    }

    img {
      height: auto;
      width: 100%;
    }
  }
}

// bottom section
.footer {
  background-color: $color__light-grey;
  padding-bottom: 1rem;
  padding-top: 2rem;
  @include prefixer(box-shadow, 0 2px 5px 0 rgba(0,0,0,.26) inset);

  ul {
    li { padding-top: 0.25rem; }
  }
  ul:not(.block__social-links) {
    li:nth-child(3) {
      font-weight: 500;
    }
  }

  .footer__bottom {
    padding-top: 2rem;
    position: relative;

    .block__social-links {
      display: inline-block;

      // styling for horizontal__list
      li:not(:first-child){
        display: inline-block;
        margin-right: 30px;
        font-weight: 500;
      }

      @include breakpoint($mobile) {
        li:not(:first-child){
          display: block;
        }
      }

      a {
        text-transform: capitalize;
      }
    }
  }

  .footer-wrapper {
    max-width: $width__max;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;

  }
  .footer-logo {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0.5em;

    @include breakpoint($mobile) {
      margin-bottom: 0.65rem;
    }

    a { display: block; }
  }
}

// reveal block effect scaffolds
.block__container {
  position: relative;
  display: inline-block;

  .block__content {
    opacity: 0;
  }
  .block__reveal {
    opacity: 0;
    transform-origin: 0% 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}
// carousel scaffolds
.carousel {
  display: block;
  position: relative;
  overflow: hidden;
  margin-left: -36vw;
  padding-right: 3rem;
  .carousel-wrapper {
    flex-direction: row;
    display: flex;
    flex-direction: row-reverse;
    .slide {
      background-color: $color__dark-green;
      height: 250px;
      width: 250px;
      float: left;
      margin-left: 1rem;
    }
  }
}


.post-title {
  margin-top: 0.75rem;
}
#post-header {
  .column__right ul {
    float: right;
  }
}

#laucher,
#hero,
#featured {
  margin-bottom: 3em;
}
#hero {
  .hero-btn {
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: -1px;
  }
}

.horizontal-list {
  li {
    display: inline-block;
    padding-right: 40px;
  }
}

.share-page {
  .fa-twitter {
    color: #00aced;
  }
  .fa-facebook-official {
    color: #3B5997;
  }
  .fa-linkedin {
    color: #0074A1;
  }

  a {
    text-decoration: none;
    color: $color__black;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}
