// variables
$color__light-green: #39bcaa;
$color__dark-green: #008791;
$color__light-grey: #f7f7f7;
$color__dark-grey: #787a7f;
$color__black: #3e3e3e;
$width__max: 47rem;

// general
.hide-on-mobile {
  @include breakpoint($mobile){
    display: none !important;
  }
}
.hide-on-desktop {
  @include breakpoint($desktop){
    display: none !important;
  }
  @include breakpoint($tablet){
    display: none !important;
  }
}
hr {
  border: none;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(rgba(0, 135, 145, 0.75)), to(#fff));
  background-image: linear-gradient(to right, #fff, rgba(0, 135, 145, 0.75), #fff);
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;

  &:after{
    content: '...';
    display: inline-block;
    position: relative;
    top: -27px;
    padding: 0 10px;
    background: #fff;
    font-size: 32px;
    color: $color__dark-green;

    @include breakpoint($mobile){
      background-color: $color__light-grey;
    }
  }
}
html,
body,
input,
button,
textarea {
  -webkit-font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: $color__black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  letter-spacing: -1px;
  line-height: 1.1;
}

//--  links
a {
  color: $color__dark-green;
  position: relative;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  display: block;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

//-- lists
ul {
  list-style-type: none;
  padding-left: 0;

  li.list__title {
    color: $color__dark-grey;
  }
}
// -- rows
.row {
  @include container;
  padding-right: 0;
  padding-left: 0;

  @include breakpoint($tablet){
    padding: 0;
  }
  @include breakpoint($mobile){
    padding: 0;
  }
  .column__left {
   @include breakpoint($desktop){
     @include col(5);
   }
   @include breakpoint($tablet){
     @include span(5, true);
   }
   @include breakpoint($mobile){
     @include span(12);
   }
   padding-right: 0 !important;
   padding-left: 0 !important;
  }
  .column__right {
   @include breakpoint($desktop){
     @include col(7);
   }
   @include breakpoint($tablet){
     @include span(7, true);
   }
   @include breakpoint($mobile){
     @include span(12);
   }
   padding-right: 0 !important;
   padding-left: 0 !important;
  }
}
// -- buttons
.filter-button-group {
  float: right;
  font-weight: bold;
  li {
    display: inline-block;
    padding-left: 3em;

    @include breakpoint($mobile){
      display: block;
      padding-left: 0;
    }
  }
  .button:not(.active){
    color: $color__dark-grey;
  }
  .button {
    cursor: pointer;
  }
  .button.active{
    color: $color__dark-green;
  }

  @include breakpoint($mobile){
    float: none;
  }
}
// -- mute text
.muted {
  // font-size: 1.5em;
  color: $color__dark-grey;
}

// lazy load
// img.lazy {
//   display: block;
//   width: 100%;
//   height: 100%;
// }

// top section
.page__highlight {
  height: 10px;
  background-image: -webkit-gradient(linear,left top, right top,from($color__dark-green), to($color__light-green));
  background-image: linear-gradient(to right,$color__dark-green, $color__light-green);
}

.header {
  background-color: $color__light-grey;

  @include prefixer(box-shadow, 0 -0.17em 0.75em 0 rgba(0,0,0,0.08) inset);

  .header-wrapper {
    max-width: $width__max;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;

    @include breakpoint($mobile) {
      overflow: hidden;
    }
  }
  .header-logo {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include breakpoint($mobile) {
      padding-top: 1rem;
    }
  }
  .header-logo,
  .header-nav {
    display: inline-block;
  }
  .header-nav {
    padding-top: 3rem;
    float: right;

    @include breakpoint($mobile) {
      margin-right: -3rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    // nav link styles
    a {
      color: $color__black;
      margin-right: 30px;
      font-weight: bold;
      text-decoration: none;
      display: inline-block;

      @include breakpoint($mobile) {
        display: block;
        padding: 5px 0;
        width: 100px;
      }
    }
    a.active {
      color: $color__dark-green;

      @include breakpoint($mobile) {
        border-bottom: none;
        border-right: 5px solid #008791;
      }
    }
    a:last-child { margin-right: 0;}
  }

  .header-about {
    padding-bottom: 3rem;
    display: none;
  }
}

// middle section
.content {
  margin: auto;
  position: relative;
  z-index: 2;
  background-color: #fff;
  margin-bottom: 370px;
  padding: 2rem 0;
  min-height: 700px;
  overflow: hidden;
  @include prefixer(box-shadow, 0 2px 5px 0 rgba(0,0,0,.26));

  @include breakpoint($mobile) {
    background-color: $color__light-grey;
    margin-bottom: 460px;
  }

  img {
    width: 100%;
    height: auto;
  }

  .content-wrapper {
    max-width: $width__max;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.grid-wrapper {
  clear: both;
  margin: 0 auto;
  padding: 0;
  width: 100%;

  .grid {
    margin: 0 auto;
    padding: 0;
    min-height: 350px;

    .grid-item {
      display: block;
      overflow: hidden;

      .image-caption {
        opacity: 0;
        @include transform(translate3d(-1rem,0,0));
        @include transition(opacity 0.35s);
        @include transition(transform 0.35s);
        position: relative;
        z-index: 1;
        p {
          color: $color__dark-grey;
          margin-bottom: 0;
        }
        h2 {
          color: $color__dark-green;
          margin-top: 0;
        }
        p,
        h2 {
          text-decoration: none;
          text-align: center;
        }
        .caption-wrapper {
          position: absolute;
          width: 100%;
          top: 200px;
        }
      }
      a:hover img {
        -webkit-filter: blur(3px);
        filter: blur(3px);
        z-index: -1;
        opacity: .5;
      }
      a:hover .image-caption {
        opacity: 1;
        @include transform(translate3d(0,0,0));
      }
    }

    img {
      height: auto;
      width: 100%;
      display: block;
    }
  }
}

// bottom section
.footer {
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color__light-grey;
  padding-bottom: 1rem;
  padding-top: 2rem;

  ul {
    li { padding-top: 0.25rem; }
  }
  ul:not(.block__social-links) {
    li:nth-child(3) {
      font-weight: 500;
    }
  }

  .footer__bottom {
    padding-top: 2rem;
    position: relative;

    .block__social-links {
      display: inline-block;

      // styling for horizontal__list
      li:not(:first-child){
        display: inline-block;
        margin-right: 30px;
        font-weight: 500;
      }

      @include breakpoint($mobile) {
        li:not(:first-child){
          display: block;
        }
      }

      a {
        text-transform: capitalize;
      }
    }
  }

  .footer-wrapper {
    max-width: $width__max;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    .contact-email,
    .contact-phone {
      color: #3e3e3e;
      text-decoration: none;
    }
  }
  .footer-logo {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0.5em;

    @include breakpoint($mobile) {
      margin-bottom: 0.65rem;
    }

    a { display: block; }
  }
  h1 {
    @include breakpoint($mobile) {
      font-size: 1.5em;
    }
  }
}

// carousel scaffolds
.carousel {
  display: block;
  position: relative;
  overflow: hidden;
  margin-left: -36vw;
  padding-right: 3rem;
  .carousel-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    .slide {
      background-color: $color__dark-green;
      height: 250px;
      width: 250px;
      float: left;
      margin-left: 1rem;
    }
  }
}

.pointer {
  margin-bottom: -4rem;
  &:before {
    content: "See more.";
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    display: inline-block;
    font-size: 7px;
    position: relative;
    left: 2rem;
  }
  &:after {
    content:"";
    display: block;
    position: relative;
    height: 7rem;
    z-index: 1;
    left: 3rem;
    top: 1rem;
    bottom: 3rem;
    border: 2px solid $color__dark-green;
    border-width: 0 0 0 1px;
  }
}

.post-title {
  margin-top: 0.75rem;
}
#post-header {
  .column__right ul {
    float: right;
  }
}

#hero,
#featured {
  margin-bottom: 3em;
}
#hero {
  h1 {
    margin-bottom: 1.5em;
  }
  .hero-btn {
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: -1px;
  }
}

.horizontal-list {
  li {
    display: inline-block;
    padding-right: 15px;
  }
}

.share-page {
  .fa-twitter,
  .fa-facebook-official,
  .fa-linkedin {
    color: $color__dark-grey;
  }

  .fa-twitter {
    &:hover,
    &:focus {
      color: #00aced;
    }
  }
  .fa-facebook-official {
    &:hover,
    &:focus {
      color: #3B5997;
    }
  }
  .fa-linkedin {
    &:hover,
    &:focus {
      color: #0074A1;
    }
  }

  h4 { margin: 0; }

  a {
    text-decoration: none;
    color: $color__black;
  }

  .share-page__title {
    @include breakpoint($mobile) {
      display: block;
      margin-bottom: 1rem;
    }
  }
}

.section-title {
  margin: 3rem 0;
  &:before {
    content: "";
    display: block;
    border-top: 2px solid $color__dark-green;
    width: 130px;
    margin: 3rem 0 2rem;
  }
}
