* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: 1.6;
}

html,
body {
  margin: 0;
  padding: 0;
}

.page__highlight {
  height: 10px;
  width: 100%;
  background-color: #008791;
}

.content-container {
  max-width: 48rem;
  padding: 2rem 1rem;
  margin-left:  auto;
  margin-right: auto;

  @media (max-width: 48rem){
    padding: 2rem 1.3rem;
  }
}

.section__services {
  padding: 2em 0;
}

.section__title {
  text-transform: uppercase;
  font-weight: 700;
  color: #7a7a7a;
}

.section__body {
  padding: 1rem 0;
}

.row {
  display: flex;
  margin-bottom: 1rem;
}
.column__left {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 1 30%;
  font-weight: 600;
  padding-right: 2rem;
}
.column__right {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 1 70%;

  span {color: #7a7a7a;}
}

.section__call-to-action {
  // background-image: url('/images/background.png');
  // border: 1px solid gold;
  height: 200px;
  margin-bottom: 2rem;

  h2 {margin-top: 3rem; }

  h2::before {
    content: '';
    display: inline-block;
    height: 2px;
    width: 120px;
    margin-right: 2rem;
    background-color: #525d66;
  }
}

.section__contact {
  .hero__body {
    h3 {
      margin-top: 0;
      padding-top: 0;
    }
  }
  .column__left {
    flex: 0 1 75%;
  }
  .column__right {
    flex: 0 1 25%;

    .column__header {
        font-weight: 600;
    }
  }
}
/*--------------
  Links
  -------------- */
a {
  color: $base-color;
}

/*--------------
  Header
  -------------- */
.header__wrapper {
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 2rem;
}
.hero__title {
  font-weight: 400;
}
.hero__body {
  h1 {
    margin-top: 0;
    padding-top: 0;
  }
}
.hero__action {
  ul {
    li {
      display: inline-block;
      margin-right: 3rem;
    }

    li:last-child {margin-right: 0;}
  }
}

.header {
  padding: 2%;
  margin-bottom: 1.5em;
  background-color: #f7f7f7;


  &-title {
    margin: 0;
    font-size: 2.25em;
    line-height: 1.2em;
    font-weight: 600;
    display: inline-block;

    a {
      color: $base-color;
      &:hover,
      &:focus {
        text-decoration: none;
      }

      img {
        height: 60px;
      }
    }

    span {
      color: $oc-gray-5;
    }

  }

  &-nav {
    display: inline-block;
    float: right;
    margin: 0.6em 0;
    a {
      color: $oc-gray-7;
      text-transform: lowercase;
      -webkit-transition: all .2s ease;
         -moz-transition: all .2s ease;
              transition: all .2s ease;
      margin-right: 1.5rem;
      text-transform: capitalize;
      font-weight: 500;

      &:last-child { margin-right: 0}
      &:hover,
      &:focus {
        color: #39bcaa;
        text-decoration: none;
        border-bottom: 2px solid #008791;
      }
    }
  }
}

.header-small {
  text-align: left;
  margin-bottom: .75rem;
  font-size: .75rem;
  font-weight: 600;
  text-transform: uppercase;

  a {
    color: $base-color;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

/*--------------
  Page
  -------------- */

.page {
  &-title {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 2.25em;
    line-height: 1.2em;
    font-weight: 600;
  }
}


/*--------------
  Post
  -------------- */
.post {

  &-title {
    margin-top: 0rem;
    margin-bottom: 0.3rem;
    font-size: 2.25em;
    line-height: 1.2em;
    font-weight: 600;
  }

  &-date {
    margin-bottom: .5rem;
    color: $oc-gray-8;
    font-size: .75rem;
    text-transform: uppercase;
  }

   &-tag {
    margin-bottom: 1.5rem;

    ul {
      li:before {
        content: ""
      }

      li {
        margin: 0;
        font-size: .75rem;
        font-weight: 300;
        display: inline;
        list-style-type: none;
        text-transform: lowercase;

        a {
          display: inline-block;
          margin: 4px;
          margin-left: 0px;
          color: $oc-white;
          background-color: $oc-gray-6;
          text-decoration: none;
          border-radius: 3px;

          span {
            float: left;
            padding: .5px 5px;
          }
        }

        a:hover {
          background-color: $oc-gray-7;
        }

        a:visited {
          background-color: $oc-white;
        }
      }
    }
  }

  &-disqus {
    margin-top: 4rem;
  }

}

/*--------------
  Post list
  -------------- */

.list {
  &-post {
    padding: 4% 2%;

    &:hover {
      background-color: $background-over-color;
      border-color: transparent;
      border-radius: 10px;
    }

    a {
      color: $base-color;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    &-title {
      margin-bottom: .3rem;
      font-size : 1.8rem;
      font-weight: 600;
    }

    &-date {
      color: $base-lighten-color;
      font-size: .8rem;
      text-transform: uppercase;
    }

    &-desc {
      color: $base-color;
      margin-bottom: .25rem;
      font-size :1rem;
    }
  }

  &-pagination {
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    // text-transform: lowercase;

    &-previous {
      float: left;
      padding-left: 2%;
      a {
        color: $oc-gray-6;

        &:hover,
        &:focus {
          color: $oc-gray-7;
          text-decoration: none;
        }
      }
    }

    &-next {
      float: right;
      padding-right: 2%;
      a {
        color: $oc-gray-6;

        &:hover {
          color: $oc-gray-7;
          text-decoration: none;
        }
      }
    }
  }
}


/*--------------
  Tags
  -------------- */
.tag {
  &-index {
    ul {
      li:before {
        content: ""
      }

      li {
        margin: 0;
        font-size: 0.8rem;
        display: inline;
        list-style-type: none;
        text-transform: lowercase;

        a {
          display: inline-block;
          margin: 4px;
          margin-left: 0px;
          color: $oc-white;
          background-color: $oc-gray-6;
          text-decoration: none;
          border-radius: 3px;

          span {
            float: left;
            padding: .5px 5px;
          }

          .count {
            background-color: $oc-gray-7;
            border-radius: 0 3px 3px 0;
          }
        }

        a:hover {
          background-color: $oc-gray-7;
        }
      }
    }
  }

  &-title {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: lowercase;
    padding: 1rem 0;
  }

  &-post {
    a {
      color: $base-color;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    &:hover {
      color: $base-color;
      text-decoration: none;
      background-color: $background-over-color;
      border-color: transparent;
      }
  }
}

/*--------------
  Archive
  -------------- */
.archive {
  &-list {
    &-post {
      padding: 0.1rem;

      &:hover {
          background-color: $background-over-color;
          border-color: transparent;
      }

      a {
        color: $base-color;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }

      &-title {
        font-size : 1.2rem;
        font-weight: 400;
      }

      &-date {
        color: $base-lighten-color;
        font-size: .75rem;
        text-transform: uppercase;
      }
    }
  }
}


/*--------------
  Footer
  -------------- */
.footer {
  text-align: center;
  font-size: .75rem;

  &-link {
    margin: .2rem;

    a {
      color: $base-color;
      margin: 4px;
    }
  }
}
