---
layout: page
title: Blog
hero: Things we wrote
---

<div class="row">
  {% if site.posts.size == 0 %}
    <h2>No post found</h2>
  {% else %}
  {% for post in site.posts %}
  <div class="column__left"><h3>{{ post.title }}</h3></div>
  <div class="column__right">
    <p>
      &mdash; <time>{{ post.date | date_to_string }}</time>
    </p>
    <p>{{ post.excerpt | strip_html | truncatewords: 25 }}</p>
    <p>
      {% if post.link %}
      <a href="{{ post.link }}">Read more</a>
      {% else %}
      <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
      {% endif %}
    </p>
  </div>
  {% endfor %}
  {% endif %}
</div>
