---
layout: page
title: Blog
hero: Things we wrote
---

<div class="row">
  {% if site.posts.size == 0 %}
    <h2>No post found</h2>
  {% else %}
    {% for post in site.posts %}
      {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
      {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
      {% capture next_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}

      {% if forloop.first %}
        <h2 id="{{ this_year }}-ref">{{this_year}}</h2>
        <div class="column__left">
          <h3 id="{{ this_year }}-{{ this_month }}-ref">{{ this_month }}</h3>
        </div>
      {% endif %}

      <div class="column__right">
        {% if post.link %}
        <a href="{{ post.link }}">
          <h3>{{ post.title }}</h3>
        </a>
        {% else %}
        <a href="{{ post.url | prepend: site.baseurl }}">
          <h3>{{ post.title }}</h3>
        </a>
        {% endif %}
        <p>{{ post.excerpt | strip_html | truncatewords: 13 }}</p>
        <p>
          {% if post.link %}
          <a href="{{ post.link }}">
          {% else %}
          <a href="{{ post.url | prepend: site.baseurl }}">
          {% endif %}
          Open
          </a>
        </p>
      </div>

      {% if forloop.last %}
      {% else %}
        {% if this_year != next_year %}
        <h2 id="{{ next_year }}-ref">{{next_year}}</h2>
        <div class="column__left">
          <h3 id="{{ next_year }}-{{ next_month }}-ref">{{ next_month }}</h3>
        </div>
        {% else %}
          {% if this_month != next_month %}
          <div class="column__left">
            <h3 id="{{ this_year }}-{{ next_month }}-ref">{{ next_month }}</h3>
          </div>
          {% else %}
            <div class="column__left"></div>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
</div>
