---
layout: default
---
<header class="row" id="post-header">
    <span class="muted">[{{ page.service }}]</span>
    <h1 class="post-title">{{ page.shortname }}</h1>
    <ul class="muted">
      <li>
        <span class="post-date">
          Published <time>{{ page.date | date_to_string }}</time>
        </span>
      </li>
      <li>
      <i class="fa fa-clock-o" aria-hidden="true"></i> From {{ page.life }}
      </li>
    </ul>
</header>
<div class="post">
  {{ content }}

  {% if page.comments and site.author.disqus %}
  <hr>
  <div class="post-disqus">
    <h3>Comments</h3>
      {% include disqus.html %}
  </div>
  {% endif %}

</div>
