---
layout: default
---
<header class="row" id="post-header">
  <div class="column__left">
  <p>
    <span>{{ page.service }}</span>
    <h1 class="post-title">{{ page.shortname }}</h1>
  </div>
  <div class="column__right">
  <p class="muted">
    {{ page.description }}
  </p>
<!--     <ul class="muted">
      <li>Posted
        <span class="post-date">
          <time>{{ page.date | date_to_string }}</time>
        </span>
      </li>
      <li>From {{ page.life }}</li>
      <li>{{ page.industry }} Industry</li>
    </ul> -->
  </div>
</header>

<div class="post">
  {{ content }}

  <!-- <h3>Related projects</h3> -->
  <!-- Disqus -->
  {% if page.comments and site.disqus.id %}
  <hr>
  <div class="post-disqus">
    <h3>Comments</h3>
      {% include disqus.html %}
  </div>
  {% endif %}

</div>
